workspace.json
workspace-mobile.json
graph.json
bookmarks.json
templates.json
types.json
webviewer.json

# Ignore all plugin files except specific plugin data
plugins/*
!plugins/folder-notes/
plugins/folder-notes/*
!plugins/folder-notes/data.json

!plugins/obsidian-linter/
plugins/obsidian-linter/*
!plugins/obsidian-linter/data.json

# exclude OS settings and caches
.trash/
.DS_Store
